<!--**********************************
           Home ==> Footer CTA
 ***********************************-->
<div class="g-home-footer-cta">
    <div class="container">
        <div class="row">
            <div class="g-home-footer-main">

                <h3>Interested in doing a project together?</h3>
                <span class="g-horizontal-line"></span>
                <a href="/contact" class="btn-outline">CONTACT ME</a>

            </div>
        </div>
    </div>
</div>
