<!--**********************************
              TOP HEADER
 ***********************************-->

<header class="g-header-area">
    <div class="container">
        <div class="row">
            <div class="g-header-main">
                <div class="g-logo">
                    <a href="/">
                        <img src="images/logo.svg" alt="@mominriyadh">
                    </a>
                </div>

                <div class="g-top-navigation-area">
                    <span class="g-hamburger">
                        <img class="open" src="images/icons/hamburger.svg" alt="">
                        <img class="close" src="images/icons/close.svg" alt="">
                    </span>
                    <nav class="g-top-navigation" aria-label="navigation">
                        <ul>
                            <li><a href="/">HOME</a></li>
                            <li><a href="/portfolio">PORTFOLIO</a></li>
                            <li><a href="contact.html">CONTACT ME</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
