<!doctype html>
<html lang="en">
<head>
    <%- include("../partials/header"); -%>
</head>
<body>

<div class="g-form-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                    <h3>Lorem ipsum dolor sit amet.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, delectus dolore ducimus error illo quibusdam quisquam quos reiciendis. Accusantium aliquam consectetur dolores maxime mollitia obcaecati repellendus reprehenderit sequi veritatis voluptatem? Animi deserunt dicta fugiat non porro saepe suscipit tempora ut.</p>
            </div>
        </div>
    </div>
</div>


<%- include("../partials/footer"); -%>
</body>
</html>




