<!doctype html>
<html lang="en">
<head>
    <%- include("../partials/header"); -%>
</head>
<body>

<%- include("../partials/navigation") -%>



<!--**********************************
       PORTFOLIO SINGLE ==> BOOKMARK
 ***********************************-->
<div class="g-pf-single-area">
    <div class="container">
        <div class="row">
            <div class="g-portfolio-single-main">


                <!--BANNER-->
                <div class="g-pf-single-banner" role="banner">
                    <picture>
                        <source media="(min-width:1921px)"
                                srcset="images/detail/desktop/image-bookmark-hero@2x.jpg">
                        <source media="(min-width:576px) and (max-width:767px)"
                                srcset="images/detail/tablet/image-bookmark-hero@2x.jpg">
                        <img class="img-fluid" src="images/detail/desktop/image-bookmark-hero.jpg"
                             alt="mominriyadh">
                    </picture>
                </div>


                <!--SINGLE PORTFOLIO DETAILS-->
                <div class="g-pf-single-details">

                    <div class="g-left-summary">
                        <span class="g-horizontal-line"></span>
                        <div class="g-left-summary-meta">
                            <h2>BOOKMARK</h2>
                            <p>This project required me to build a fully responsive landing page to the designs
                                provided. I
                                used HTML5, along with CSS Grid and JavaScript for the areas that required
                                interactivity,
                                such as the testimonial slider.</p>

                            <div class="g-pf-category">
                                <span>Interaction Design </span>
                                /
                                <span>Front End Development</span>
                            </div>

                            <div class="g-portfolio-tags">
                                <span>HTML</span> / <span>CSS</span> / <span>JS</span>
                            </div>


                            <a href="" class="btn-outline">VISIT WEBSITE</a>
                        </div>
                        <span class="g-horizontal-line"></span>
                    </div>

                    <div class="g-right-details">


                        <div class="g-project-description">
                            <h2>Project Background</h2>
                            <p>This project was a front-end challenge from Frontend Mentor. It’s a platform that enables
                                you to practice building websites to a design and project brief. Each challenge includes
                                mobile and desktop designs to show how the website should look at different screen
                                sizes. Creating these projects has helped me refine my workflow and solve real-world
                                coding problems. I’ve learned something new with each project, helping me to improve and
                                adapt my style.</p>
                        </div>

                        <div class="g-project-preview">
                            <h2>Static Previews</h2>

                            <div class="preview-area" role="banner" aria-label="portfolio-preview">


                                <picture>
                                    <source media="(min-width:1921px)"
                                            srcset="images/detail/desktop/image-bookmark-preview-1@2x.jpg">
                                    <source media="(min-width:576px) and (max-width:767px)"
                                            srcset="images/detail/tablet/image-bookmark-preview-1@2x.jpg">
                                    <img class="img-fluid"
                                         src="images/detail/desktop/image-bookmark-preview-1.jpg"
                                         alt="mominriyadh">
                                </picture>


                                <picture>
                                    <source media="(min-width:1921px)"
                                            srcset="images/detail/desktop/image-bookmark-preview-2@2x.jpg">

                                    <source media="(min-width:576px) and (max-width:767px)"
                                            srcset="images/detail/tablet/image-bookmark-preview-2@2x.jpg">

                                    <img class="img-fluid"
                                         src="images/detail/desktop/image-bookmark-preview-2.jpg"
                                         alt="mominriyadh">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="g-pf-navigations-area">
                    <div class="left-nav-area">
                        <a href="/manage">
                            <img src="images/icons/arrow-left.svg" alt="">

                            <p><span>Manage</span>
                                <small>Previous Project</small></p>
                        </a>
                    </div>
                    <div class="right-nav-area">
                        <a href="/insure">
                            <img src="images/icons/arrow-right.svg" alt="">

                            <p><span>Insure</span>
                                <small>Next Project</small></p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<%- include("../partials/cta"); -%>
<%- include("../partials/footer"); -%>
</body>
</html>




